volumes:
  mysql-data-service-company:
    driver: local
  mercure_data:
  mercure_config:
  redis-data:

networks:
  hr-network:
    external: true

services:
  service-company-db:
    container_name: service-company-db
    image: mysql:9.3.0
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: service_company
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_HOST: "%"
    volumes:
      - mysql-data-service-company:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 10
    networks:
      - hr-network

  service-company:
    container_name: service-company
    build:
      context: ./
      dockerfile: Dockerfile
    extra_hosts:
      host.docker.internal: host-gateway
    ports:
      - "81:80"
    volumes:
      - ./:/var/www/html
    environment:
      MESSENGER_TRANSPORT_DSN: amqp://guest:guest@rabbitmq:5672/%2f
      MAILER_DSN: smtp://mailpit:1025
    depends_on:
      service-company-db:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    networks:
      - hr-network

  phpmyadmin-company:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin-company
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: service-company-db
      PMA_USER: user
      PMA_PASSWORD: password
    networks:
      - hr-network

  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq/
      - ~/.docker-conf/rabbitmq/log/:/var/log/rabbitmq
    networks:
      - hr-network

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - redis-data:/data
    networks:
      - hr-network

  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    ports:
      - "8025:8025"
      - "1025:1025"
    networks:
      - hr-network

  mercure:
    image: dunglas/mercure
    container_name: mercure
    environment:
      SERVER_NAME: ':3001'
      MERCURE_PUBLISHER_JWT_KEY: "kL3x9v2D8fP6tR1qB7wZ0mS4nV8yX5aQqwerty"
      MERCURE_SUBSCRIBER_JWT_KEY: "kL3x9v2D8fP6tR1qB7wZ0mS4nV8yX5aQqwerty"
      MERCURE_JWT_ALG: "HS256"
      MERCURE_EXTRA_DIRECTIVES: |
        cors_origins http://localhost:3000
        anonymous
    ports:
      - "3001:3001"
    networks:
      - hr-network

  worker-company-xlsx-import:
    container_name: worker-company-xlsx-import
    build:
      context: ./
      dockerfile: Dockerfile
    command: ["php", "-d", "memory_limit=12G", "bin/console", "messenger:consume", "company_xlsx_import", "--verbose", "--no-interaction"]
    depends_on:
      - rabbitmq
      - service-company
    environment:
      MESSENGER_TRANSPORT_DSN: amqp://guest:guest@rabbitmq:5672/%2f
    volumes:
      - .:/var/www/html
    restart: unless-stopped
    networks:
      - hr-network

  worker-department-xlsx-import:
    container_name: worker-department-xlsx-import
    build:
      context: ./
      dockerfile: Dockerfile
    command: ["php", "-d", "memory_limit=12G", "bin/console", "messenger:consume", "department_xlsx_import", "--verbose", "--no-interaction"]
    depends_on:
      - rabbitmq
      - service-company
    environment:
      MESSENGER_TRANSPORT_DSN: amqp://guest:guest@rabbitmq:5672/%2f
    volumes:
      - .:/var/www/html
    restart: unless-stopped
    networks:
      - hr-network

  worker-employee-xlsx-import:
    container_name: worker-employee-xlsx-import
    build:
      context: ./
      dockerfile: Dockerfile
    command: ["php", "-d", "memory_limit=12G", "bin/console", "messenger:consume", "employee_xlsx_import", "--verbose", "--no-interaction"]
    depends_on:
      - rabbitmq
      - service-company
    environment:
      MESSENGER_TRANSPORT_DSN: amqp://guest:guest@rabbitmq:5672/%2f
    volumes:
      - .:/var/www/html
    restart: unless-stopped
    networks:
      - hr-network

  worker-send-email:
    container_name: worker-send-email
    build:
      context: ./
      dockerfile: Dockerfile
    command: ["php", "-d", "memory_limit=12G", "bin/console", "messenger:consume", "send_email", "--verbose", "--no-interaction"]
    depends_on:
      - rabbitmq
      - service-company
    environment:
      MESSENGER_TRANSPORT_DSN: amqp://guest:guest@rabbitmq:5672/%2f
    volumes:
      - .:/var/www/html
    networks:
      - hr-network
