services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\Module\System\Application\EventHandler\LogFileEventHandler:
    arguments:
      $loggers: !service_locator
        main: '@monolog.logger'
        eventLog: '@monolog.logger.eventLog'
        eventStore: '@monolog.logger.eventStore'
        import: '@monolog.logger.import'

  App\Module\System\Application\EventSubscriber\GenericEventLoggerSubscriber:
    arguments:
      $loggers: !service_locator
        main: '@monolog.logger'
        eventLog: '@monolog.logger.eventLog'