doctrine:
  dbal:
    url: '%env(resolve:DATABASE_URL)%'
    server_version: '9.3.0'
    logging: true
    types:
      uuid: Ramsey\Uuid\Doctrine\UuidType
    profiling_collect_backtrace: '%kernel.debug%'
    use_savepoints: true

  orm:
    auto_mapping: true
    enable_lazy_ghost_objects: true
    auto_generate_proxy_classes: false # natywne lazy objects zamiast starych proxy
    report_fields_where_declared: true
    validate_xml_mapping: true
    naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware

    filters:
      soft_delete:
        class: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
        enabled: true

    mappings:
      company:
        is_bundle: false
        type: attribute
        dir: '%kernel.project_dir%/src/Module/Company/Domain/Entity'
        prefix: 'App\Module\Company\Domain\Entity'
        alias: Company
      note:
        is_bundle: false
        type: attribute
        dir: '%kernel.project_dir%/src/Module/Note/Domain/Entity'
        prefix: 'App\Module\Note\Domain\Entity'
        alias: Note
      system:
        is_bundle: false
        type: attribute
        dir: '%kernel.project_dir%/src/Module/System/Domain/Entity'
        prefix: 'App\Module\System\Domain\Entity'
        alias: System
      system_notification:
        is_bundle: false
        type: attribute
        dir: '%kernel.project_dir%/src/Module/System/Notification/Domain/Entity'
        prefix: 'App\Module\System\Notification\Domain\Entity'
        alias: System_notification
      common:
        is_bundle: false
        type: attribute
        dir: '%kernel.project_dir%/src/Common/Domain/Entity'
        prefix: 'App\Common\Domain\Entity'
        alias: Common

when@test:
  doctrine:
    dbal:
      dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
  doctrine:
    orm:
      auto_generate_proxy_classes: false
      enable_lazy_ghost_objects: true
      query_cache_driver:
        type: pool
        pool: doctrine.system_cache_pool
      result_cache_driver:
        type: pool
        pool: doctrine.result_cache_pool

  framework:
    cache:
      pools:
        doctrine.result_cache_pool:
          adapter: cache.app
        doctrine.system_cache_pool:
          adapter: cache.system
