services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\Module\Company\Domain\Service\Company\ImportCompaniesFromXLSX:
      arguments:
        $importCompaniesValidators: !tagged_iterator 'app.import_company_validator'