services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\Module\Company\Domain\Service\Department\ImportDepartmentsFromXLSX:
      arguments:
        $importDepartmentsValidators: !tagged_iterator 'app.department.import.validator'