/var/
/vendor/
/storage/

.env.dev

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
.php-cs-fixer.cache