parameters:
  doctrine.orm.enable_native_lazy_objects: true

services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\:
    resource: '../../src/'
    exclude:
      - '../../src/DependencyInjection/'
      - '../../src/Kernel.php'

  gedmo.mapping.driver.attribute:
    class: Gedmo\Mapping\Driver\AttributeReader

  gedmo.listener.softdeleteable:
    class: Gedmo\SoftDeleteable\SoftDeleteableListener
    tags:
      - { name: doctrine.event_listener, event: 'onFlush' }
      - { name: doctrine.event_listener, event: 'loadClassMetadata' }
    calls:
      - [ setAnnotationReader, [ "@gedmo.mapping.driver.attribute" ] ]

  Symfony\Component\Validator\Validator\ValidatorInterface: '@validator'